/* Resetando margens e espaçamentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #1a1529;
    padding-top: 100px;
}


h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #746f77;
}

span {
    color: #8906e6;
}

p {
    font-size: 1rem;
    color: #272020;
}

h5 {
    margin-top: 1rem;
    color: #0097b2;
}

/* Navbar */
header.navbar {
    padding: 0;
    margin: 0;
    height: 80px;
    background-color: #f9f9fc !important; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 80px;
    background-color:#f9f9fc;
    color: white;
}

/* Logo */
.img-logo {
    max-width: 100px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #1a1529;
}

/* Menu Navbar e Dropdown */
.navbar-collapse {
    background-color: #f9f9fc !important;
}

.navbar-nav .nav-link {
    background-color: transparent;
    color: #1a1529;
    padding: 8px 0;
    margin: 0;
}

.dropdown-menu {
    background-color: #f9f9fc!important;
    border: none;
}

.dropdown-menu .dropdown-item {
    color: #1a1529;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #7e7496; 
}

.carousel-section {
    padding: 20px 0;
}
.carousel-item .card {
    height: 100%;
}



.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Footer */

.footer-class{
    color: blanchedalmond;
}

.card img {
    height: 200px; 
    width: 100%;
    object-fit: cover; 
}

.card-title {
    min-height: 60px; 
}

.card-text {
    flex-grow: 1;
    min-height: 100px; 
}

.btn-custom {
    margin-top: auto; 
    align-self: flex-start;
}


/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .navbar-collapse {
        padding: 10px;
    }

    .navbar-nav .nav-item {
        margin-bottom: 5px;
    }
}

/* Cards de Serviços Populares */
.card {
    transition: transform 0.3s ease-in-out;
}

.card-text p {
    text-align: justify;
}

.card:hover {
    transform: scale(1.05);
}

/* Botão personalizado */
.btn-custom {
    background-color: #5e517e;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #7e7496;
}


/* Footer */
footer {
    background-color: #333;
    color: #fff;
    font-size: 0.9rem;
    padding: 20px 0;
    text-align: center;
}


    header {
        padding: 5px 10px;
        height: auto;
    }

    .navbar-brand img {
        max-width: 70px;
    }

    section h2 {
        font-size: 1.75rem;
    }

    section p {
        font-size: 0.85rem;
    }

    .card-body h5 {
        font-size: 1.1rem;
    }

    .card-body p {
        font-size: 0.85rem;
    }
